.ant-btn-primary {
  margin: 20px 20px;
}
.ant-row {
  margin: 20px 0px;
}
.hide {
  display: none!important;
}
.rightAnswer {
  font-size: 18px;
  margin-top: 20px;
  background: green;
  color: white;
  display: table!important;
  padding: 0px 10px;
  border-radius: 4px;
}
.wrongAnswer {
  font-size: 18px;
  margin-top: 20px;
  background: red;
  color: white;
  display: table!important;
  padding: 0px 10px;
  border-radius: 4px;
}
.rightAnswer svg, .wrongAnswer svg {
  margin-right: 10px;
}